
@model IEnumerable<E7.Models.MixTables.ders>
@{
    ViewBag.Title = "DersView";
    Layout = "~/Views/Shared/layout1.cshtml";
}

<h2>Eğitim Planı</h2>

<table table border="1" cellpadding="10" border-collapse: collapse;>
    <tr>
        <th > Departman İsmi</th>
        <th > Ders İsmi</th>
        
    </tr>
    @foreach (var ktgr2 in Model)
    {
        <tr>

            <td border: 1px solid black;>@ktgr2.department.DepartmentName</td>
            <td border: 1px solid black;>@ktgr2.course.CourseName</td>
            
        </tr>
    }

</table>