
@model IEnumerable<E7.Models.MixTables.OgrenciDers>




@{
    ViewBag.Title = "OgrenciDersView";
    Layout = "~/Views/Shared/layout1.cshtml";
}

<h2>Öğrencinin Aldığı Dersler</h2>

<table class="table"  table border="1" cellpadding="10" border-collapse: collapse;>
    <tr>
        <th> Öğrenci Numarası</th>
        <th> Öğrenci İsmi</th>
        <th> Ders Kodu</th>
        <th>Ders İsmi</th>
        
    </tr>
    @foreach (var ktgr1 in Model)
    {
        <tr>
            <td>@ktgr1.student1.StudenID</td>
            <td>@ktgr1.student1.StudentFullName</td>
           <td>@ktgr1.studentcourse.CourseID</td>
            <td>@ktgr1.course.CourseName</td>
        </tr>
    }

</table>