

@model IEnumerable<E7.Models.MixTables.Notlar>


@{
    ViewBag.Title = "NotlarView";
    Layout = "~/Views/Shared/layout1.cshtml";
}

<h2>Sınav Notları</h2>



<table class="table" table border="1" cellpadding="10" border-collapse: collapse;>
    <tr>
        <th> Öğrenci Numarası</th>
        <th> Öğrenci İsmi</th>
        <th> Ders İsmi</th>
        <th>Sınav Notu</th>
    </tr>
    @foreach (var ktgr3 in Model)
    {
<tr>
    <td border: 1px solid black;>@ktgr3.student.StudenID</td>
    <td border: 1px solid black;>@ktgr3.student.StudentFullName</td>

    <td border: 1px solid black;>@ktgr3.course.CourseName</td>
    <td border: 1px solid black;>@ktgr3.examgrade.Grade</td>


</tr>
    }

</table>